.modernization__content {
    text-align: justify;
    padding: 0 15px;
    margin-left: 80px;
}

.modernization__title{
    color: #F69940;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: center;
}

.istochnik__photo {
    display: block;
    margin: 0 auto;
    max-width: 290px;
   
}

.modernization__list{
    margin-bottom: 15px;
}

.modernization__item:last-child{
    margin-bottom: 50px;
}
.modernization__text-subtitle{
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 30px;
}

.new__table {
    position: sticky;
    top: 50px;
}






 
  
  












 
@media (max-width: 576px){
    
    .header-tel__link {
        font-size: 20px;
    }
    .header-email__link {
        font-size: 18px;
    }
    .menu{
        background: #07ffaf38;
        height: 64px;
        padding: 10px 0;
    }
    .menu a{
        font-size: 28px;
    }
    .wrapper{
        flex-direction: column;
    }
    .page{
        padding-top: 0;
        padding-bottom: 350px;
    }
    .new__table{
        min-width: 995px;
        top: 0;
        position: static;
    }
    .new__table-link{
        font-size: 24px;
        padding: 20px 90px;
        line-height: 30px;
    }
    .container {
        padding: 0;
    }
    .modernization__content{
        margin-left: 15px;
        font-size: 20px;
        min-height: 100%;
    }
    .modernization__text{
        font-size: 24px;
        line-height: 29px;
    }
    .modernization__item{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 8px;
    }
    .modernization__title{
        font-size: 30px;
        line-height: 40px;
    }
    .modernization__text-subtitle {
        font-size: 28px;
        line-height: 40px;
    }
    .footer{
        font-size: 22px;
        line-height: 31px;
    }
    .footer__group{
        width: 180px;
    }
    .footer__content {
        justify-content: space-around;
    }
    .panel {
        height: 665px;
    }
}

@media (max-width: 375px){
    .header__title{
        display: none;
    }
    .header__logo-title{
        font-size: 40px;
        margin-bottom: 85px;
    }
    .header-tel__link {
        font-size: 34px;
    }
    .header-tel {
        margin-bottom: 15px;
    }
    .header-email__link {
        font-size: 24px;
    }
    .menu{
        background: #07ffaf38;
        height: 64px;
        padding: 10px 0;
    }
    .menu a{
        font-size: 28px;
    }
    .new__table{
        min-width: 995px;
        top: 0;
        position: static;
        margin-bottom: 0px;
    }
    .new__table-link{
        font-size: 28px;
        line-height: 40px;
        padding: 20px 90px;
    }
    .modernization__content{
        font-size: 28px;
        line-height: 33px;
    }
    .modernization__title{
        font-size: 38px;
    }
    .modernization__item{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 8px;
    }
    .modernization__text{
        font-size: 30px;
        line-height: 40px;
    }
    .modernization__subtitle {
        font-size: 28px;
        line-height: 40px;
    }
    .footer{
        font-size: 24px;
        line-height: 31px;
    }
    .footer__content{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
    }
    .footer__group {
        width: 175px; 
    }
    .panel {
        height: 785px;
    }
}








 