.modernization__content {
    text-align: justify;
    padding: 0 15px;
    margin-left: 80px;
}

.modernization__title{
    color: #F69940;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: center;
}

.istochnik__photo {
    display: block;
    margin: 0 auto;
    max-width: 290px;
   
}

.modernization__list{
    margin-bottom: 15px;
}

.modernization__item:last-child{
    margin-bottom: 50px;
}
.modernization__text-subtitle{
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 30px;
}