.parts-vpr210__content{
    padding-right: 15px;
    margin-left: 80px;
}

.parts-vpr210__title{
    text-align: center;
    font-weight: 400;
}

.parts-vpr210__subtitle{
    text-align: center;
}

.parts-vpr210__table{
    margin-bottom: 50px;
}

.sopla__vpr-210 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.photo__sopla-210 {
    max-width: 300px;
    height: 280px;
}

.photo__electrody-210 {
    display: block;
    margin: 0 auto;
    max-width: 625px;
}



