.parts-vpr402M__content{
    padding: 0 15px;
    margin-left: 80px;
}
 
.new__table{
    position: sticky;
    top: 50px;
}

.parts-vpr402M__subtitle{
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.photo__electrody-402M {
    max-width: 194px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.parts__vpr402M-cards{
    margin-bottom: 80px;
}

.parts__vpr402M-item{
    max-height: 240px;
}

.parts__vpr402M-img{
    height: 140px;
}



