.plazmotrony__content{
    text-align: justify;
    padding: 0 15px;
    margin-left: 80px;
}

.plazmotrony__title{
    color: #F69940;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.column-2{
    width: 80px;
}

.plazmotrony__table{
    margin-bottom: 50px;
}

.plazmotrony__text{
    margin-bottom: 15px;
}

.photo__vpr210-1{
    margin-bottom: 10px;
}

.photo__vp410-1{
    margin-bottom: 10px;   
}

.descr__bottom{
    font-weight: 600;
}

.new__table{
    position: sticky;
    top: 50px;
}