.universal-parts__content{
  padding: 0 15px;
  margin-left: 80px;
}

.universal-parts__cards {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.universal-parts__cards-item {
    max-width: 175px;
    padding: 5px 5px 5px 5px;
    border: solid 1px #c8d3d9;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0 0 6px 3px rgb(221 221 221);
}

.universal-parts__cards-item:hover{
    transform: scale(125%);
}

.universal-parts__cards-img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    max-height: 150px;
}

.universal-parts__cards-text {
    text-align: center;
}

.universal-parts__cards-link{
    text-decoration: none;
    color: #000;
}

.panel{
    width: 0;
}





  .universal-parts__card {
    width: 175px;
    height: 240px;
    position: relative;
    perspective: 1000px;
    transition: .5s;
    cursor: pointer;
  }

  
  .front, .back {
    position: absolute;
    padding: 5px 5px 15px 5px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border: solid 1px #c8d3d9;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  .front {
    background-color: #fff;
  }

  .back {
    background-color: #88a5b4;
    transform: rotateY(180deg);
    text-align: center;
    line-height: 29px;
    color: #fff;
    opacity: .7;
  }

  .back span{
     margin-top: 50%;
     transform: translateY(-50%);
  }
  
  .universal-parts__card:hover .front {transform: rotateY(180deg);}
  .universal-parts__card:hover .back {transform: rotateY(360deg);}



  .new__table{
    position: sticky;
    top: 50px;
}














@media (max-width: 576px){
    
  .menu{
      background: #07ffaf38;
      height: 64px;
      padding: 10px 0;
  }
  .menu a{
      font-size: 28px;
  }
  .wrapper{
      flex-direction: column;
  }
  .page{
      padding-top: 0;
      padding-bottom: 350px;
  }
  .new__table{
      min-width: 995px;
  }
  .new__table-link{
      font-size: 24px;
      padding: 20px 90px;
      line-height: 30px;
  }
  .new__table{
      min-width: 995px;
      top: 0;
      position: static;
  }
  .new__table-link{
      font-size: 30px;
      line-height: 40px;
      padding: 20px 20px;
  }
  .line{
      width: 985px;
  }
  .container {
      padding: 0;
  }
  .universal-parts__title{
      font-size: 38px;
      line-height: 54px;
      max-width: 850px;
  }
  .universal-parts__content{
      margin: 0 auto;
  }
  .universal-parts__card {
    width: 230px;
    height: 310px;
    margin-left: 15px;
}
  .universal-parts__cards-img {
    max-height: 210px;
}
  .universal-parts__text{
   font-size: 22px;
   line-height: 26px;
}
  .universal-parts__text-back{
    font-size: 22px;
    line-height: 31px;
  }
  .footer{
      font-size: 22px;
      line-height: 31px;
  }
  .footer__group{
      width: 180px;
  }
  .footer__content {
      justify-content: space-around;
  }
  .content__text{
      line-height: 29px;
  }
  .panel {
    height: 745px;
    width: -webkit-fill-available;
}
}


@media (max-width: 375px){

  .menu{
      background: #07ffaf38;
      height: 64px;
      padding: 10px 0;
  }
  .menu a{
      font-size: 28px;
  }
  .new__table-link{
      font-size: 28px;
      line-height: 40px;
      padding: 20px 90px;
  }
  .title{
      font-size: 30px;
  }
  .new__table{
      min-width: 995px;
      top: 0;
      position: static;
  }
  .new__table-link{
      font-size: 30px;
      line-height: 40px;
      padding: 20px 20px;
  }
  .line{
      width: 985px;
  }
  .universal-parts__content{
      margin: 0 auto;
  }
  .universal-parts__title{
      font-size: 38px;
      line-height: 54px;
      max-width: 850px;
  }
  .universal-parts__cards {
      gap: 50px;
      grid-template-columns: repeat(2, 1fr);
}
  .universal-parts__card {
      width: 330px;
      height: 400px;
      margin-left: 45px;
}
  .universal-parts__cards-img {
      max-height: 260px;
      margin-bottom: 15px;
} 
  .universal-parts__text{
      font-size: 28px;
      line-height: 33px;
}
  .universal-parts__text-back{
       font-size: 30px;
       line-height: 40px;
 }
  .footer{
      font-size: 24px;
      line-height: 31px;
  }
  .footer__content{
      flex-direction: column;
      align-items: flex-start;
      padding-left: 15px;
  }
  .footer__group {
      width: 175px; 
  }
}