.vpr-215__content{
    padding: 0 15px;
    margin-left: 80px;
}

.photo__products-vpr215 {
    display: block;
    margin: 0 auto;
    width: 490px;
    height: 380px;
}

.vpr-215__subtitle{
    text-align: center;
    font-weight: 400;
}

.new__table{
    position: sticky;
    top: 50px;
}